.product {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    width: 300px;
    display: inline-block;
    margin: 12px;
    background-color: white;
}

.product img{
    margin-bottom:5px;
    width: 100%;
}

.product .controls{
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.product .total{
    font-weight: bold;
}