.admin .entry-forms{
    display: flex;
}

.admin .form-product{
    flex: 3;
    margin: 5px;
}

.admin .form-coupon{
    flex: 2;
    margin: 5px;
}

.admin .form {
    border: 1px solid #c9c9cd;
    border-radius: 6px;
    width: 400px;
    padding: 12px;
    background-color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.admin .form h3 {
    text-align: center;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-weight: 200;
    color: #587982;
}
.admin .form div {
    margin-bottom: 12px;
}
.admin .form .controls {
    margin-top: 18px;
    text-align: center;
}