.admin .entry-forms{
    display: flex;
}

.admin .form-product{
    flex: 3;
    margin: 5px;
}

.admin .form-coupon{
    flex: 2;
    margin: 5px;
}

.admin .form {
    border: 1px solid #c9c9cd;
    border-radius: 6px;
    width: 400px;
    padding: 12px;
    background-color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.admin .form h3 {
    text-align: center;
    font-family: 'Segoe UI', Verdana, sans-serif;
    font-weight: 200;
    color: #587982;
}
.admin .form div {
    margin-bottom: 12px;
}
.admin .form .controls {
    margin-top: 18px;
    text-align: center;
}

.admin .prod {
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.admin .prod img {
    height: 70px;
}

.admin .prod h5 {
    flex: 4;
}

.admin .prod label {
    flex: 1;
}

.admin .coupon{
    border: 2px solid black;
    padding: 10px;
}