.cart .parent{
    display: flex;
    flex-direction: row;
}
.cart .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}
.cart .side{
    flex: 1;
}
.cart .cart-item{
    display: flex;
    flex-direction: row;
    border : solid 3px #0D6EDF;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

}

.cart .cart-item img {
    height: 80px;
}

.cart .cart-item h5 {
    flex: 2;
}

.cart .cart-item label {
    flex: 1;
}

.cart .cart-item button {
    width: 50px;
}